/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4aa00;
    color: #fff;
    padding: 1rem;
  }
  
  .navbar-title {
    font-size: 1.5rem;
  }
  